@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Port+Lligat+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


main {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #27548a;
  font-family: 'Port Lligat Slab', serif;
  font-size: 5rem;
}

.text {
  color: #183b4e;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  background: #ca7842;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: baseline;
}